@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 222.2 84% 4.9%;
		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;
		--primary: 221.2 83.2% 53.3%;
		--primary-foreground: 210 40% 98%;
		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;
		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;
		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;
		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;
		--ring: 221.2 83.2% 53.3%;
		--radius: 0.5rem;
	}

	.dark {
		--background: 222.2 84% 4.9%;
		--foreground: 210 40% 98%;
		--card: 222.2 84% 4.9%;
		--card-foreground: 210 40% 98%;
		--popover: 222.2 84% 4.9%;
		--popover-foreground: 210 40% 98%;
		--primary: 217.2 91.2% 59.8%;
		--primary-foreground: 222.2 47.4% 11.2%;
		--secondary: 217.2 32.6% 17.5%;
		--secondary-foreground: 210 40% 98%;
		--muted: 217.2 32.6% 17.5%;
		--muted-foreground: 215 20.2% 65.1%;
		--accent: 217.2 32.6% 17.5%;
		--accent-foreground: 210 40% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 40% 98%;
		--border: 217.2 32.6% 17.5%;
		--input: 217.2 32.6% 17.5%;
		--ring: 224.3 76.3% 48%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

@layer components {
	.collection-card {
		position: relative;
		border-radius: 5px;
		transition: box-shadow 0.5s, opacity 0.5s;
		will-change: transform;
		overflow: hidden;
		touch-action: none;
	}

	.collection-card:hover {
		@apply shadow border bg-card/50;
	}

	.collection-card .img {
		height: 200px;
	}

	.collection-card > div {
		will-change: transform;
		height: 100%;
		margin: 0vw 0;
	}

	.collection-card > div > * {
		height: 100%;
		background-size: cover;
		background-position: center center;
		margin: 0vw 0;
	}

	.trailsText {
		position: relative;
		width: 100%;
		height: 80px;
		line-height: 80px;
		font-size: 5em;
		font-weight: 800;
		letter-spacing: -0.05em;
		will-change: transform, opacity;
		overflow: hidden;
	}

	.trailsText > div {
		padding-right: 0.05em;
		overflow: hidden;
	}

	.text-gradient {
		background: linear-gradient(45deg, #3ec8fegit, blue);
		/* Apply the gradient as a background clip */
		-webkit-background-clip: text;
		background-clip: text;
		/* Set the text color to transparent to allow the gradient to show through */
		color: transparent;
		/* Add a fallback color */
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	.bg-gradient {
		@apply hover:text-white;
		color: white;
		background: linear-gradient(45deg, blue, #3ec8fe);
	}
}
